# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log
Assets/ignore
Assets/ignore.meta
Assets/LayerLab
Assets/LayerLab.meta
Assets/Exports
Assets/Exports.meta
Assets/SrRubfish_VFX_03
Assets/SrRubfish_VFX_03.meta
Assets/SrRubfish_VFX_04
Assets/SrRubfish_VFX_04.meta
Assets/StylizedAnubis
Assets/StylizedAnubis.meta
Assets/PixPlays
Assets/PixPlays.meta
Assets/NHance
Assets/NHance.meta
Assets/MasterStylizedProjectiles
Assets/MasterStylizedProjectiles.meta
Assets/Sprites/Iso_Test
Assets/Sprites/Iso_Test.meta
Assets/Hun0FX
Assets/Hun0FX.meta
Assets/NHance
Assets/NHance.meta
Assets/Piloto Studio
Assets/Piloto Studio.meta
Assets/VFX_Klaus
Assets/VFX_Klaus.meta
Assets/Lil Pupinduy
Assets/Lil Pupinduy.meta
Assets/FrogNomad
Assets/FrogNomad.meta
Assets/StylizedAnubis
Assets/StylizedAnubis.meta
Assets/StylizedMimic
Assets/StylizedMimic.meta
Assets/SandGolem
Assets/SandGolem.meta
Assets/StylizedScorpion
Assets/StylizedScorpion.meta
Assets/SnakesPack
Assets/SnakesPack.meta
Assets/Sphinx
Assets/Sphinx.meta
Assets/NakshatraStudios
Assets/NakshatraStudios.meta
Assets/stopa323
Assets/stopa323.meta
Assets/LichPack
Assets/LichPack.meta
Assets/VFXUiParticles
Assets/VFXUiParticles.meta
Assets/RPG Inventory Sounds
Assets/RPG Inventory Sounds.meta
Assets/Blink
Assets/Blink.meta
Assets/AB_Stylized
Assets/AB_Stylized.meta
Assets/DacingEyebrows
Assets/DacingEyebrows.meta
Assets/SrRubfish_VFX_02
Assets/SrRubfish_VFX_02.meta
Assets/MobileTouchEffectPack
Assets/MobileTouchEffectPack.meta
Assets/CharacterTrailEffect
Assets/CharacterTrailEffect.meta
Assets/SpriteTrail
Assets/SpriteTrail.meta
Assets/MasterStylizedFX
Assets/MasterStylizedFX.meta
Assets/CartoonVFX9x
Assets/CartoonVFX9x.meta
Assets/StylizedRabbit
Assets/StylizedRabbit.meta
Assets/Bomb Cute Series
Assets/Bomb Cute Series.meta
Assets/Mushroom Chibi Series
Assets/Mushroom Chibi Series.meta










# MCP 서버 코드 제외
Assets/unity-mcp/
Assets/unity-mcp.meta



# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

